@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-bar > ul{
display: flex;
gap: 20px;
list-style: none; /* Remove default bullet points */
margin: 0; /* Remove default margins */
padding: 0; 
}

.nav-bar > img{
width:40px;
}

.main-continer {
  display: grid;
  place-items: center; /* Centers both horizontally and vertically */
  height: 100px; /* Set a height for the container */ /* Adjust as needed */
}

